.overflow1{
    height: 150px;
    width: 150px;
    background-color: orange;
    /* default overflow = visible */
    /* hidden, scroll, auto */
    overflow: hidden;

}

.overflow2{
    height: 150px;
    width: 150px;
    background-color: blue;
    /* default overflow = visible */
    /* hidden, scroll, auto */
    overflow: scroll;
    /* sangat berfungsi ketika menggunakan
    version mobile, opsi ini... */
    /* overflow-y:scroll */
    /* overflow-x:scroll */
}

.overflow3{
    height: 150px;
    width: 150px;
    background-color: red;
    /* default overflow = visible */
    /* hidden, scroll, auto */
    overflow: auto;
}