/* default position STATIC */
.kotak{
    position:relative;
    top:120px;
    background-color: orange;
}

.belajar2{
    position:absolute;
    right:0;
    bottom:0;
    margin:0;
    background-color: blue;
}

div{
    position:relative;
    width: 100px;
    height: 100px;
    background-color: red;
}

.fix{
    position: fixed;
    background-color: green;
    top:40px;
    left:80px;
}

.stik{
    position:sticky;
    background-color: pink;
    /* stikcky berfungsi ketika di tambah
    top left bottom right */
    top:40px;
    left:80px;
}